!/dist/boosts
!/dist/boosts/**/*
!/dist/config.yaml
!/tests/fixtures/temp/.gitkeep
/.idea
/.vscode
/build
/coverage
/dist/*.json
/dist/index.js
/dist/storage
/node_modules
/tempdir
/tests/fixtures/temp/*
*.log
.env
dependency-graph.svg
package-lock.json
yarn.lock
