/.git
/.github
/.husky
/.vscode
/build
/coverage
/node_modules
/scripts
/src
/tests
*.ignore
*.js
*.sh
*.config.js
.editorconfig
.eslintignore
.eslintrc.js
.madgerc
.prettierignore
package-lock.json
rome.json
tsconfig.json
