/.git
/.github
/.husky
/.vscode
/build
/coverage
/dist/boosts
/dist/storage
/docs/*.png
/docs/*.svg
/node_modules
/scripts
/src
/tests
*.config.js
*.js
*ignore
.editorconfig
.eslintrc.js
.gitattributes
.madgerc
package-lock.json
rome.json
tsconfig.json
